html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculator {
  background: white;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background: black;
  color: white;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.calculator-display h1 {
  padding: 25px;
  margin: 0;
  font-size: 45px;
  font-family: "Lucida Grande", sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  min-height: 50px;
  font-size: 20px;
  font-weight: 100;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #cccccc;
}

button:hover {
  filter: brightness(110%);
}

button:active {
  transform: translateY(1px);
}

button:focus {
  outline: none;
}

.operator {
  background: #999999;
  color: white;
  font-size: 30px;
}

.clear {
  background: #d46a6a;
  color: white;
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: #88cc88;
}

.social-buttons {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}

.made-by {
  margin-top: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.social-btn {
  text-decoration: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  display: inline-block;
  transition: 0.3s;
}

.github {
  background: #24292e;
}

.github:hover {
  background: #444c56;
}

.linkedin {
  background: #0077b5;
}

.linkedin:hover {
  background: #005582;
}

@media screen and (max-width: 600px) {
  .calculator {
    width: 95%;
  }
}
